.venv/
tts_env/
backend/venv/
frontend/
node_modules/
.git/
.gitignore

__pycache__/
*.pyc
*.pyo

*.mp3
*.wav

db.sqlite3
backend/db.sqlite3

.env
*.env

.vscode/
.idea/

dist/
dist-ssr/

*.log

Dockerfile
.dockerignore